body {
    overflow-x: hidden;
    font-family: "Times New Roman", Times, serif;
}

/* layers */

.sp-container p, h2 {
    position: absolute;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    transform: scale(1);
}

.sp-container p {
    font-size: 16pt;
    margin-top: 15%;
}

.sp-container h2 {
    font-size: 40pt;
    padding-top: 5%;
    text-align: center;
}

/* landing page */

.header {
    width: 100%;
    text-align: center;

    padding-top: 5%;
    padding-bottom: 20%;
}

.header h2 {
    position: absolute;
    padding-top: 10%;
    font-size: 80pt;
}

/* landing page footer */

.button-banner {
    background-color: black;
    color: white;
    box-shadow: 0px 500px 10px 500px #000;
}

/* landing page links */
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

.link-effect {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    width: 60%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18pt;
    cursor: pointer;
    border-style: solid;
    background-color: black;
    transition: background-color .75s, transform .5s;
}

.link-effect:hover {
    background-color: rgba(200, 200, 200, .4);
    transform: scale(.9);
}

.caption {
    color: white;
    font-size: 18pt;

    margin-top: 100px;
    text-align: center;
    display: block;
}